{% extends "base.html" %}

{% block content %}
<h2>選擇分組</h2>

<ul>
    {% for key, pool in pools.items() %}
    <li>
        <a href="/pool/{{ key }}">{{ pool.name }}</a>
    </li>
    {% endfor %}
</ul>
<hr>

<h3>WBC 參賽國世界地圖</h3>
<p>
    點擊國家可以進入該隊的 Team 頁面。
</p>

<div id="world-map" style="width:100%; height:800px;"></div>
<script src="{{ url_for('static', filename='js/world-map.js') }}"></script>
<!-- 3. 呼叫 drawMapChart，把後端 pools 傳進去 -->
<script>
  const poolsData = {{ pools | tojson }};
  drawMapChart(poolsData);
</script>

{% endblock %}
